@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
/* shared style */
.display-flex {
  display: flex;
}

/* dark1 */
.dark1{
  color: #131313;
}
/* dark 2 */
.dark2 {
  color: #424242;
}
/* dark3 */
.dark3 {
  color: #727272;
}
.bg-light {
  background: rgba(255, 144, 14, 0.1);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
img {
  width:100%;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.btn-primary {
  background: #FF900E;
  color: #fff;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;

}

/* header style */
.header {
  padding: 45px 0;
}

/* nav related style */
.navbar {
  align-items: center;
  justify-content: space-between;
}
.brand {
  font-weight: 700;
  font-size: 2.8rem;
}
.nav-links {
}
.nav-item {
  list-style: none;
  margin-right: 30px
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

/* banner realated style  */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 50px 0;
}

.banner-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 18px;

}
.banner-description {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 32px;
}

/* team related style */
.teams {
  justify-content: center;
  margin: 85px 0 130px 0;
  gap: 4.4rem;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-feature-container {
  align-items: center;
}
.team-feature {
  max-width: 430px;
}
.feature-title {
  margin-bottom: 24px;
  
}
.feature-title .gray-text {
  color: #727272;
  font-weight: 500;
}
.feature-title .orange-text {
  color: #FF900E;
}
.feature-description {
  margin-bottom: 32px;
}

/* feature section style  */
.features {
  gap: 140px;
  margin-bottom: 130px;
}
.feature-info {
  max-width: 500px;
}
#feature-section-title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
  margin: 24px 0;
}
.feature-card {
  padding: 20px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin: 20px 0;
}
.feature-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.feature img {
  height: auto;
}

#feature-badge {
  padding: 45px 42px;
  margin-left: -92px;
  margin-top: -43px;

}
#jambu-text {
  font-size: 4rem;
  font-weight: 700;
}


/* some facts style  */
.fact-content {
  margin-bottom: 100px;
}
.fact-content p {
  margin-top: 24px;
}
.fact-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  max-width: 240px;
  height: 240px ;
  border: 1px solid #FF900E;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.card h2 {
  margin: 10px 0 5px 0;
}

.card img {
  width: 45px;
  height: 45px;
}


/* sponsors style  */
.sponsors-container {
  margin: 130px 0;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
}

.sponsor-description {
  margin: 24px 0 50px; 
}
.sponsors {
  justify-content: space-between;
}
.sponsor img {
  filter: grayscale(100%);
  max-width: 165px;
  height: 50px;
}
footer {
  margin-bottom: 210px;
}
.footer {
  background: #FFF4E7;
  text-align: center;
  padding: 40px 0;
  border-radius: 8px;
}


/* media query style */

@media screen and (max-width: 576px){
  /* header responsive */
  .header-container {
    margin:30px 33px;
  }
  .navbar,
  .nav-links {
    flex-direction: column;
  }
  .nav-links {
    margin-top: 50px;
  }
  .nav-item {
    margin-bottom: 20px;
  }
  /* teams responsive  */
  .teams {
    flex-direction: column;
    
    margin: 30px 30px;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-feature-container {
    justify-content: center;
    text-align: center;
  }
  /* features section responsive  */
  .features {
    flex-direction: column;
    margin: 0 30px;
  }
  #feature-badge {
    margin-left: 60px;
    margin-top: 20px;
  }
  /* some fact responsive  */
  .fact-content {
    margin: 50px 30px;
    justify-content: center;
    text-align: center;
  }
  .fact-card {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 24px;
    margin: 0 30px;
  }
  .card {
    width: 100%;
  }

  /* sponsor responsive */
  .sponsors-container {
    margin: 130px 33px;
  }
  .sponsors {
    flex-direction: column;
    gap: 24px;
  }
  .sponsor img {
    width: 100%;
  }
}
/* footer responsive  */
.footer {
  margin: 0 33px;
}


/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* header reponsive  */
  .navbar {
    margin: 0 30px;
  }
  /* teams responsive  */
  .teams {
    flex-direction: column;
    margin: 30px 30px;
  }
  .team-feature-container{
    justify-content: center;
  }
  .team-feature {
    text-align: center;
  }
  /* features section responsive  */
  .features {
    flex-direction: column;
    margin: 0 30px;
  }
  .feature-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  #feature-badge {
    margin-left: 220px;
    margin-top: 20px;
  }
  /* some fact responsive */
  .fact-content, 
  .fact-card {
    margin: 50px 33px;
    text-align: center;
  }
  .fact-card {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 24px;
  }
  .card {
    width: 100%;
  }
  .sponsors {
    flex-direction: column;
    gap: 24px;
  }
}